// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
.home-main{
  margin-top: 1%;
}

$focus-border-color: #01579b;

.login-wrapper{
  border-radius: 8px !important;
  margin-top: 5%;
  .input-field {
    input[type=text], input[type=password] {
      border-bottom: 0.5px solid rgba(255,255,255,0.5);
      box-shadow: none;
      color: rgba(255,255,255,0.8);
      &:focus{
        border-bottom: 0.5px solid $focus-border-color;
      }
    }
  }
}

.remember-forgot{
  margin-bottom: 5%;
}

.app-presentation-title{
  font-family: "Space Mono", fantasy;
}
